@import "../../assets/styles/variables";

.helper {
  min-width: 875px;
  min-height: 709px;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

  &__header {
    display: flex;
    align-items: center;
    padding-top: 22px;
  }

  &__assist {
    display: flex;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    padding-left: 27px;
    margin-top: -7px;
  }

  &__user-wrapper {
    display: flex;
    padding-left: 228px;
  }

  &__user-name {
    font-size: 15px;
    font-weight: 600;
  }

  &__user-mail {
    font-size: 15px;
    font-weight: 400;
    color: $color-grey-footer;
    padding-left: 11px;
  }

  &__button {
    border: none;
    background-color: $color-white;
    padding: 0;
    padding-left: 24px;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__button-icon {
    width: 40px;
    height: 40px;
  }

  &__chat-wrapper {
    width: 818px;
    height: 594px;
    background-color: #EBEBEB;
    border-radius: 20px;
    margin-top: 17px;
    margin-left: 29px;
    margin-right: 28px;
  }

  &__chat-window {
    display: flex;
    flex-direction: column;
  }

  &__chat-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    width: 190px;
    height: 193px;
    padding-top: 49px;
  }

  &__paragraph {
    max-width: 475px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
    padding-top: 3px;
  }

  &__chat-buttons {
    padding-top: 41px;
    padding-left: 20px;
  }

  &__chat-button--pink {
    width: 210px;
    height: 43px;
    border-radius: 21px;
    color: $color-white;
    background-color: $primary-color;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__chat-button--blue {
    width: 166px;
    height: 43px;
    border-radius: 21px;
    color: $color-white;
    background-color: $secondary-color;
    border: none;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__chat-textarea-wrapper {
    position: relative;
  }

  &__chat-textarea {
    width: 100%;
    height: 143px;
    border-radius: 20px;
    font-size: 15px;
    resize: none;
    line-height: 1.4;
    box-sizing: border-box;
    padding: 21px 69px 43px 17px;
    margin-top: 21px;
    border: 2px solid #EBEBEB;
    font-weight: 400;

    &:focus {
      border-color: $primary-color;
      outline: none;
    }

    &:focus::placeholder {
      color: transparent;
    }
  }

  &__chat-buttons-wrapper {
    position: absolute;
    top: 120px;
    left: 19px;
  }

  &__button-media {
    width: 24px;
    height: 24px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    background-color: $color-white;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }


    &--left {
      background-image: url('../../assets/icons/folder.svg');

    }

    &--right {
      background-image: url('../../assets/icons/gallery.svg');
      margin-left: 20px;
    }
  }

  &__button-enter-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 86px;
    right: 20px;
  }

  &__button-enter {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: $color-white;
    background-image: url('../../assets/icons/send.svg');

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }
  }

  &__span-enter {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    padding-top: 3px;
  }

  &__popup-wrapper {
    position: relative;
    display: inline-block;
  }

  &__popup {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 270px;
    top: 120%;
    right: 0;
    background-color: white;
    border: none;
    padding: 10px 31px 17px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  &__popup-item {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    align-items: end;
    cursor: pointer;

    &:first-child {
      margin-bottom: 12px;
      margin-top: 4px;
    }

    &:hover {
      color: $primary-color;
    }
  }

  &__chat-messages {
    height: 346px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    gap: 12px;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-grey;
      border-radius: 4px;
    }
  }

  &__chat-time {
    font-weight: 400;
    font-size: 15px;
    color: $color-grey-footer;
    text-align: center;
  }
}

@media (min-width: $tablet) and (max-width: $small-desktop) {
  .helper {
    min-width: 685px;

    &__user-wrapper {
      padding-left: 45px;
    }

    &__title {
      padding-left: 32px;
      margin-top: -5px;
    }

    &__chat-wrapper {
      width: 640px;
    }

    &__chat-window {
      display: flex;
      flex-direction: column;
    }

    &__img {
      padding-top: 45px;
    }

    &__chat-textarea {
      width: 100%;
      height: 142px;
      padding: 20px 89px 43px 20px;
      resize: none;
      line-height: 1.4;
      box-sizing: border-box;
    }

    &__chat-buttons {
      padding-top: 45px;
      padding-left: 23px;
    }

    &__chat-messages {
      min-height: 342px;
    }

    &__paragraph {
      max-width: 370px;
    }

    &__chat-buttons-wrapper {
      left: 22px;
    }

    &__button-enter-wrapper {
      right: 36px;
    }
  }
}

@media (max-width: $mobile) {
  .helper {
    min-width: 375px;
    min-height: 724px;
    width: 100%;
    border-radius: 0;
    box-shadow: none;

    &__header {
      align-items: start;
      padding-top: 18px;
    }

    &__assist {
      flex-direction: column;
      align-items: start;
    }

    &__title {
      font-size: 20px;
      padding-left: 20px;
    }

    &__user-wrapper {
      padding-left: 22px;
      padding-top: 5px;
    }

    &__img {
      width: 130px;
      height: 132px;
      padding-top: 49px;
    }

    &__chat-wrapper {
      height: 632px;
      margin-top: 5px;
      margin-left: 0;
      margin-right: 0;
      width: auto;
      border-radius: 0;
    }

    &__paragraph {
      width: 271px;
      font-size: 14px;
      padding-top: 7px;
    }

    &__chat-buttons {
      display: flex;
      align-items: end;
      flex-direction: column-reverse;
      padding-right: 36px;
      padding-top: 47px;
    }

    &__chat-button--pink {
      font-size: 14px;
      width: 189px;
      margin-top: 14px;
      height: 40px;
    }

    &__chat-button--blue {
      font-size: 14px;
      width: 150px;
      height: 40px;
    }

    &__button {
      padding: 0;
      margin-left: -8px;
      margin-top: -16px;
    }

    &__chat-messages {
      height: 297px;
    }

    &__chat-textarea-wrapper {
      margin: 0 20px;
    }

    &__chat-textarea {
      width: 100%;
      height: 146px;
      box-sizing: border-box;
      padding: 19px 60px 48px 20px;
      border-radius: 20px;
      font-size: 15px;
      resize: none;
      line-height: 1.4;
    }

    &__chat-buttons-wrapper {
      top: 121px;
      left: 16px;
    }

    &__span-enter {
      display: none;
    }

    &__button-enter {
      right: 26px;
    }

    &__button-enter-wrapper {
      right: 16px;
      top: 106px;
    }
  }
}