@import "../../assets/styles/variables";

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 714px;
  padding-bottom: 57px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}