@import "../../assets/styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 53px;
  padding: 26px 0 22px 0;

  &__logo {
    width: 219px;
    height: 32px;
  }

  &__user-wrapper {
    display: flex;
  }

  &__user {
    display: flex;
    padding-right: 26px;
  }

  &__user-block {
    display: flex;
    align-items: center;

    &:first-child {
      padding-right: 22px;
    }
  }

  &__user-icon {
    height: 40px;
    width: 40px;
  }

  &__user-value,
  &__user-email {
    font-weight: 600;
    font-size: 18px;
  }

  &__user-value {
    padding-left: 8px;
  }

  &__user-label {
    display: none;
  }


  &__user-email {
    padding-left: 10px;
  }

  &__user-icons {
    display: flex;
    align-items: center;
  }

  &__button {
    border: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    background-color: $color-grey-light;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }

    &--setup {
      margin-right: 12px;
    }

    &--quit {
      margin: 0;
    }
  }
}

@media (min-width: $tablet) and (max-width: $desktop)  {
  .header {
    padding: 23px 40px;

    &__logo {
      width: 209px;
      height: 29px;
      margin-top: -4px;
    }

    &__button {
      background-color: $color-white;
    }

    &__user-value,
    &__user-email {
      font-size: 16px;
    }

    &__user {
      padding-right: 20px;
    }

    &__user-block:first-child {
        padding-right: 18px;
      }
  }
}

@media (max-width: $mobile)  {
  .header {
    padding: 28px 20px;
    flex-direction: column;
    align-items: flex-start;

    &__logo {
      width: 181px;
      height: 24px;
    }

    &__button {
      background-color: $color-white;
    }

    &__user-email {
      font-size: 14px;
      padding: 0;
    }

    &__user-value {
      font-size: 12px;
      padding: 0;
      color: $color-grey;
      margin-top: -9px;
    }

    &__user-label {
      display: inline;
      font-size: 12px;
      padding: 0;
      color: $color-grey;
      margin-left: -2px;
    }

    &__user {
      flex-direction: column-reverse;
      padding-top: 4px;
      padding-right: 0;
    }

    &__user-icon {
      display: none;
    }

    &__user-icons {
      margin-top: 12px;
    }

    &__user-block:first-child {
      padding-right: 0;
    }

    &__user-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%
    }

    &__button--setup .header__button-icon {
      content: url("../../assets/icons/setup-light.svg");
    }

    &__button--quit .header__button-icon {
      content: url("../../assets/icons/quit-light.svg");
    }
  }
}