@import "../../assets/styles/variables";

.folder {
  display: flex;
  flex-direction: column;
  min-width: 295px;
  min-height: 709px;
  background-color: $color-white;
  border-radius: 20px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);

  &__mobile {
    display: none;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 29px;
  }

  &__img {
    width: 255px;
    height: 314px;
    padding-top: 46px;
    padding-left: 11px;
  }

  &__paragraph {
    padding-left: 17px;
    padding-top: 11px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 145%;
    width: 255px;
  }
}

@media (min-width: $tablet) and (max-width: $small-desktop) {
  .folder {
    min-width: 685px;
    min-height: 405px;

    &__title {
      padding-left: 19px;
      padding-top: 32px;
    }

    &__wrapper {
      display: flex;
    }

    &__img {
      padding-top: 2px;
      padding-left: 80px;
    }

    &__paragraph {
      padding-left: 17px;
      padding-top: 107px;
      text-align: left;
    }
  }
}

@media (max-width: $mobile) {
  .folder__mobile--hidden {
    display: none;
  }

  .folder__mobile {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding-left: 37px;
  }

  .folder__button {
    min-height: 40px;
    border: 1px solid $color-grey-button;
    background-color: $color-grey-button;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }
  }

  .folder__button:first-child {
    min-width: 115px;
  }

  .folder__button:last-child {
    min-width: 78px;
    margin-left: 13px;
  }
}