@use "../../assets/styles/variables" as *;

.footer {
  background-color: $color-grey-background;
  padding: 28px 0 27px 0;
  font-family: 'Inter', sans-serif;
  color: #555;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  &__logo-wrapper {
    padding-top: 5px;
  }

  &__privacy {
    padding-left: 42px;
  }

  &__privacy-paragraph {
    margin: 0;
    font-size: 15px;
    color: $color-grey-footer;
    font-weight: 500;
  }

  &__email {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: $color-grey-footer;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.8;
    }

    &-icon {
      background-image: url('../../assets/icons/email.svg');
      width: 24px;
      height: 24px;
      margin-right: 12px;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__languages {
    display: flex;
    align-items: center;
    gap: 12px;

    .footer__lang {
      font-size: 15px;
      font-weight: 500;
      color: $color-grey-footer;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }

      &--active {
        color: $primary-color;
      }

      &-icon {
        background-image: url('../../assets/icons/language.svg');
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }

  &__socials {
    display: flex;
    gap: 12px;

    .footer__social {
      width: 40px;
      height: 40px;
      background-size: contain;
      background-repeat: no-repeat;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        opacity: 0.8;
      }

      &--telegram {
        background-image: url('../../assets/icons/telegram.svg');
      }

      &--whatsapp {
        background-image: url('../../assets/icons/whatsapp.svg');
      }
    }
  }
}

@media (min-width: $tablet) and (max-width: $desktop) {
  .footer {
    padding: 27px 40px;
    width: auto;

    &__container {
      display: flex;
      justify-content: normal;
      align-items: center;
      flex-wrap: wrap;
      gap: 24px;
    }

    &__logo {
      width: 209px;
    }

    &__logo-wrapper {
      padding-top: 9px;
      order: 1;
    }

    &__privacy {
      padding-left: 16px;
      padding-top: 20px;
      padding-right: 90px;
      order: 2;
    }

    &__email {
      order: 5;
      padding-left: 20px;
    }

    &__languages {
      order: 4;
      padding-left: 40px;
    }

    &__socials {
      order: 3;
    }
  }
}

@media (max-width: $mobile)  {
    .footer {
      padding: 40px 0;
      background-color: $color-white;

      &__container {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        gap: 20px;
      }

      &__logo-wrapper {
        padding-top: 0;
        order: 1;
      }

      &__logo {
        width: 181px;
        height: 24px;
      }

      &__privacy {
        padding-left: 0;
        padding-top: 0;
        padding-right: 0;
        order: 2;
      }

      &__privacy-paragraph {
        font-size: 14px;
      }

      &__email {
        order: 4;
        padding-left: 0;
      }

      &__languages {
        order: 3;
        padding-left: 0;
      }

      &__socials {
        order: 5;
      }
    }
}