@import "../../assets/styles/variables";

.folder__content {
  margin: 0 20px;

  &-header {
    padding-top: 19px;
  }

  &-title {
    font-weight: 600;
    font-size: 18px;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 4px;
  }

  &-name {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    height: 42px;
    background-color: $color-grey-light;
    border-radius: 4px;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      width: 24px;
      height: 24px;
      left: 4px;
      border-radius: 6px;
      background-image: url('../../assets/icons/folder-xml.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 16px;
    }
  }
}