@import "normalize.css";
@import "variables";
@import "base";

body {
  background-color: #F5F5F5;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: black;

  @media (max-width: $desktop) {
  background-color: #FFFFFF;
}
}

